* {
  margin: 0;
  padding: 0;
  
}




  


.nav-bar {
  width: 1440px;
  height: 124px;
}
/* logo */

.logo {
  width: 148px;
  height: 44px;
  font-size: 32px;
  font-weight: bold;
  color: #3563e9;
  position: absolute;
  left: 60px;
  top: 40px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

/* search */

.search {
  width: 492px;
  height: 44px;
  position: absolute;
  left: 272px;
  top: 40px;
  border: 1px solid #c3d4e9;
  border-radius: 22px;
}

.btn {
  width: 21px;
  height: 19px;
  position: absolute;
  left: 13px;
  top: 11px;
  border: none;
  border-radius: 8px;
  background-color: snow;
}

.shr {
  height: 24px;
  width: 24px;
  opacity: 2.5;
  position: absolute;
    left: -3px;
    top: -1px;
}

.btn:hover .shr {
  opacity: 0.5;
}

.text {
  width: 413px;
  height: 26px;
  position: absolute;
  left: 46px;
  top: 10px;
  border: none;
  outline: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn2 {
  width: 21px;
  height: 19px;
  position: absolute;
  left: 461px;
  top: 10px;
  border: none;
  border-radius: 8px;
  background-color: snow;
  opacity: 1.5;
}

.btn2:hover .shr {
  opacity: 0.5;
}

/* profile-notification */

.profile-notification {
  width: 236px;
  height: 44px;
  position: absolute;
  left: 1172px;
  top: 40px;
  display: flex;
  gap: 20px;
}

.imgg {
  width: 44px;
  height: 44px;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}

.imgg:hover { 
  border: 1px solid black;
  border-radius: 50%;
}

/* content */

.content {
  width: 1440px;
  height: 2120px;
  background-color: #f6f7f9;
  position: absolute;
  top: 124px;
}

.ad1 {
  width: 640px;
  height: 360px;
  background-color: #54a6ff;
  position: absolute;
  left: 64px;
  top: 32px;
  border-radius: 10px;
}

.ad1::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  right: -150px;
  bottom: -300px;
  border-radius: 50%;

  background: repeating-radial-gradient(
    circle,
    transparent 0 45px,
    rgba(255, 255, 255, 0.15) 46px 47px
  );
}


.ads {
    width: 284px;
    height: 224px;
    position: absolute;
    left: 24px;
    top: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ad-p{
      width: 284px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ad {
  width: 327px;
    height: 96px;
    margin: 0;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
}

.ad-ti {
  width: 284px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.Ren-Car {
  width: 120px;
  height: 44px;
  padding: 20px;
  position: absolute;
  top: 180px;
  background-color: #3563e9;
  border: none;
  border-radius: 8px;
  color: #f6f7f9;
}

.Ren-Car:hover {
  background-color: #174ef5;
}

.rental-car{
  width: 80px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 14px;
}

.img7 {
  width: 406px;
  height: 116px;
  position: absolute;
  left: 137px;
  top: 234px;
}

.ad2 {
  width: 640px;
  height: 360px;
  background-color: #3563e9;
  position: absolute;
  left: 736px;
  top: 32px;
  border-radius: 10px;
  background-image: url("2.png");
  background-size: cover;
}

.rc{
  background-color: #54A6FF;
}


.img8{
  width: 340px;
  height: 108px;
  position: absolute;
  left: 187px;
  top: 232px;

}



.box-1 {
  width: 582px;
  height: 132px;
  background-color: white;
  position: absolute;
  left: 64px;
  top: 424px;
  border: none;
  border-radius: 10px;
}

.o {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: #b6c5f1;
  opacity: 30%;
  position: absolute;
  left: 55px;
  top: 28px;
}
.o:hover {
  background-color: #3e9cff;
}

.o2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3563e9;
  position: absolute;
  left: 4px;
  top: 4px;
}

.pick {
  width: 68px;
  height: 20px;
  position: relative;
  left: 78px;
  top: 27px;
  font-size: 16px;
   font-family: 'Plus Jakarta Sans', sans-serif;

}

.loctions {
  height: 15px;
  font-size: 16px;
  position: absolute;
  left: 63px;
  top: 63px;
  font-weight: bold;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.ser {
  width: 104px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  top: 91px;
  left: 65px;
  color: #90a3bf;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.fa-solid {
  position: absolute;
  top: 91px;
  left: 158px;
}

.fa-solid:hover {
  opacity: 0.5;
}

.line1 {
  height: 67px;
  position: absolute;
  top: 51px;
  left: 217px;
  border: 1px solid #c3d4e9;
  opacity: 0.3;
}

.line1:hover {
  color: rgb(214, 223, 241);
}

/* date */

.date {
  height: 15px;
  font-size: 16px;
  position: absolute;
  left: 248px;
  top: 63px;
  font-weight: bold;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.dat {
  width: 104px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  top: 92px;
  left: 249px;
  color: #90a3bf;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.git {
  position: absolute;
  top: 91px;
  left: 345px;
}

.git:hover {
  opacity: 0.5;
}

.line2 {
  height: 67px;
  position: absolute;
  top: 51px;
  left: 409px;
  border: 1px solid #c3d4e9;
  opacity: 0.3;
}

/* time */

.time {
  height: 15px;
  font-size: 16px;
  position: absolute;
  left: 441px;
  top: 63px;
  font-weight: bold;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.ti {
  width: 104px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  top: 92px;
  left: 440px;
  color: #90a3bf;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.arr {
  position: absolute;
  top: 91px;
  left: 534px;
}

.btn-bg {
  width: 60px;
  height: 60px;
  background-color: #3563e9;
  border-radius: 10px;
  position: absolute;
  left: 690px;
  top: 460px;
}

.fa-up-down {
  position: absolute;
  left: 20px;
  top: 22px;
  color: white;
}

.btn-bg:hover {
  background-color: #0a3ed9;
}

/* box2 */

.box-2 {
  width: 582px;
  height: 132px;
  background-color: white;
  position: absolute;
  left: 794px;
  top: 424px;
  border: none;
  border-radius: 10px;
}

.drop {
  width: 80px;
  height: 20px;
  position: relative;
  left: 78px;
  top: 27px;
  font-size: 16px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}


/* car-shop */

.car-shop{
  width: 1312px;
  height: 1356px;
  display: flex;
  gap: 32px;
  position: absolute;
  left: 64px;
  top: 592px;
  /* border: 2px solid; */
}

/* popular-car-rant */

.popular-car-rant {
  width: 1312px;
  height: 452px;
  display: flex;
  gap: 20px;

}




.Popular {
      width: 92px;
    height: 24px;
    display: flex;
    gap: 8px;
    color: #90a3bf;
    position: absolute;
    top: 10px;
    left: 20px;
     font-family: 'Plus Jakarta Sans', sans-serif;
}

.Popular:hover {
  color: #a4bde4;
}

.view-more{
  width: 104px;
  height: 44px;
  padding: 20px;
  display: flex;
  gap: 8px;
  position: absolute;
  left: 1208px;
}

.view {
  width: 64px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 10px;
  text-decoration: none;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.view:hover {
  opacity: 0.5;
}



.popular-car {
  width: 1312px;
  height: 388px;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 64px;
}

/* catalog1 */

.catalog1 {
  width: 304px;
  height: 388px;
  border-radius: 10px;
  background-color: #ffffff;
}

.car-name {
  width: 140px;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #1a202c;
  padding: 25px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.car-mood {
  width: 128px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #90a3bf;
  position: absolute;
  top: 28px;
  padding: 25px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.car-img {
  width: 232px;
  height: 72px;
  position: absolute;
  left: 36px;
  top: 136px;
}

.shadow {
  position: absolute;
  width: 304px;
  height: 68px;
  left: 0px;
  top: 185px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.specifications {
  width: 256px;
  height: 24px;
  display: flex;
  gap: 16px;
  position: absolute;
  left: 24px;
  top: 272px;
  color: #90a3bf;
}

/* gasoline */

.gasoline {
  width: 58px;
  height: 24px;
  display: flex;
  gap: 6px;
}

.gas {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.gas-li {
  width: 28px;
  height: 24px;
  position: absolute;
  left: 23px;
  top: -2px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

/* car-mod */

.car-mod {
  width: 76px;
  height: 24px;
  display: flex;
  gap: 4px;
  position: absolute;
  left: 74px;
}

.ro {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
}

.ro-ma {
  width: 28px;
  height: 24px;
  position: absolute;
  left: 21px;
  top: -2px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

/* capacity */

.capacity {
  width: 90px;
  height: 24px;
  display: flex;
  gap: 6;
  position: absolute;
  left: 166px;
}

.user {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -3px;
}

.capacity-pe {
  width: 65px;
  height: 24px;
  position: absolute;
  left: 26px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.price {
  width: 116px;
  height: 44px;
  position: absolute;
  top: 330px;
  left: 28px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.day {
  color: #90a3bf;
}

.ren-now {
  width: 116px;
  height: 44px;
  padding: 20px;
  position: absolute;
  top: 320px;
  left: 164px;
  background-color: #3563e9;
  border: none;
  border-radius: 4px;
  color: #f6f7f9;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.ren-now:hover {
  background-color: #073cdc;
}

.now {
  position: absolute;
  left: 26px;
  top: 15px;
}

/* catalog2 */

.catalog2 {
  width: 304px;
  height: 388px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 336px;
  
}

.offer {
  text-decoration: line-through;
  color: #90a3bf;
}

/* catalog3 */

.catalog3 {
  width: 304px;
  height: 388px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 672px;
}

/* catalog4 */

.catalog4 {
  width: 304px;
  height: 388px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 1008px;
}

/* Recomendation-car */

.recomendation-car-rent {
  width: 1312px;
  height: 872px;
  position: absolute;
  top: 484px;
  display: flex;
  gap: 20px;
  /* border: 2px solid; */
}

.rce {
  width: 196px;
  height: 44px;
  display: flex;
  gap: 8px;
  padding: 20px;
}

.recom-car {
  width: 156px;
  height: 24px;
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.recomendation-car {
  width: 1312px;
  height: 808px;
  position: absolute;
  top: 64px;
  display: flex;
  gap: 32px;
}

.recomendation1 {
  width: 1312px;
  height: 388px;
  display: flex;
  gap: 32px;
}

/* box 1 */
.rush {
  width: 224px;
  height: 100px;
  position: absolute;
  left: 40px;
  top: 122px;
}

/* box2 */

.cr {
  width: 248px;
  height: 100px;
  position: absolute;
  left: 28px;
  top: 122px;
}

.recomendation2 {
  width: 1312px;
  height: 388px;
  position: absolute;
  top: 420px;
  display: flex;
  gap: 32px;
}

.mg {
  width: 264px;
  height: 108px;
  position: absolute;
  left: 24px;
  top: 118px;
}

.mg-car {
  width: 165px;
  height: 24px;
  font-size: 20px;
}
/* box2 */
.zs {
  width: 288px;
  height: 112px;
  position: absolute;
  left: 8px;
  top: 116px;
}

/* heart */

.heart {
  width: 20px;
  height: 17.8px;
  position: absolute;
  left: 260px;
    top: 28px;
  color: red;
}

.heart:hover {
  opacity: 0.6;
}

.hea {
  position: absolute;
  left: 260px;
    top: 28px;
  -webkit-text-stroke: 1px #90A3BF;
}

.hea:hover {
  opacity: 0.3;
}


/* show more */

.show{
  width: 734px;
  height: 44px;
  position: absolute;
  left: 642px;
  top: 2012px;
  display: flex;
  gap: 438px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.show-more{
  width: 156px;
  height: 44px;
  display: flex;
  gap: 8px;
  background-color: #3563E9;
  padding: 20px;
  color: white;
   border-radius: 4px;
       border: none;
}

.show-more:hover{
  background-color:#194fef ;
}



.more-car{
  width: 116px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 14px;
   
}

.num-car{
 width: 140px;
 height: 24px;
 position: absolute;
 left: 675px;
 top: 10px;
 color: #90A3BF;

}


/* footer */

footer{
   width: 1440px;
   height: 480px;
   background-color: #ffffff;
   position: absolute;
   top: 2244px;
    font-family: 'Plus Jakarta Sans', sans-serif;
  
  
}

.logo-footer{
  width: 292px;
  height: 108px;
  display: flex;
  gap: 16px;
  position: absolute;
  left: 60px;
  top: 80px;
}

.log{
  width: 148px;
  height: 44px;
  color: #3563E9;
  font-size: 32px;
}

.vision{
  width: 292px;
  height: 48px;
  position: absolute;
  top: 60px;
  font-size: 16px;
  color: #13131396;
}


/* line */

.line{
  width: 1320px;
  height: 0;
  position: absolute;
  left: 60px;
  top: 360px;
  color: #13131396;
  border: 1px solid;
  opacity: 16%;
}

/* about */

.about{
  width: 152px;
  height: 244px;
  position: absolute;
  left: 804px;
  top: 80px;
}

.title{
  width: 152px;
  height: 32px;
  font-size: 20px;
  color: #1A202C;
  
}

.footer-links{
  width: 152px;
    height: 168px;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    left: -18px;
    top: 61px;
    color: #13131396;
    opacity: 60%;
}


/* community */

.community{
  width: 152px;
  height: 244px;
  position: absolute;
  left: 1016px;
  top: 80px;
}

.community-link{
   width: 152px;
    height: 168px;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    left: -25px;
    top: 61px;
    color: #13131396;
    opacity: 60%;
}


/* socials */

.socials{
   width: 152px;
  height: 244px;
  position: absolute;
  left: 1228px;
  top: 80px;
}

.socials-link{
    width: 152px;
    height: 168px;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    left: -42px;
    top: 61px;
    color: #13131396;
    opacity: 60%;
}


/* Privacy & Policy */

.privacy-policy{
  width: 144px;
  height: 24px;
  color: #1A202C;
  position: absolute;
  left: 1032px;
  top: 396px;
  font-size: 16px;
  font-weight: 150px;
}


/* terms-condition */

.terms-condition{
   width: 144px;
  height: 24px;
  color: #1A202C;
  position: absolute;
  left: 1236px;
  top: 396px;
  font-size: 16px;
  font-weight: 150px;
}

/*  reserved */

.reserved{
  width: 292px;
  height: 24px;
 color: #1A202C;
 position: absolute;
 left: 60px;
 top: 396px;
 font-size: 16px;
}

